<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Open-Storm Site Survey</title>
    </head>

    <body>

        <div>
            <form method="post" enctype="multipart/form-data">
                <input type="text" name="time"/>
                <b>TIME</b><br><br>
                <input type="text" name="location"/>
                <b>LOCATION</b><br><br>
                <input type="text" name="notes"/>
                <b>NOTES</b><br><br>
                <input type="submit" name="submit" value="submit"/>
            </form>
        </div>

    </body>
</html>